---
import Header from "../../components/header.astro";
import TextBox from "../../components/format/text-box.svelte";
---

<html lang="en">
  <Header
    title="SI Warm Ups"
    description="This is the hub for all Alan CPSC 121 SI warm up activities"
  />
  <body>
    <main class="w-screen h-screen flex justify-center items-center">
      <section class="flex flex-col justify-center items-center gap-16">
        <h1>Maps and Vectors</h1>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias
          perferendis error aperiam ipsa iste? Corporis facere dolorum aliquid
          exercitationem sunt!
        </p>
      </section>
      <TextBox question={"lorem"} />
    </main>
  </body>
</html>
