---
import Header from "../components/header.astro";
---

<html lang="en">
  <Header
    title="SI Warm Ups"
    description="This is the hub for all Alan CPSC 121 SI warm up activities"
  />
  <body>
    <main class="w-screen h-screen flex justify-center items-center">
      <section class="flex flex-col justify-center items-center gap-16">
        <h1 class="text-5xl">⚠HEY⚠</h1>
        <h2 class="text-2xl">GO BACK TO WHERE I PUT YOU</h2>

        <p class="text-center">
          🔨I AM STILL BUILDING THE SITE AS WE SPEAK SO I HAVENT FINISHED THE
          ENTIRE THING🔨
        </p>
      </section>
    </main>
  </body>
</html>
